<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
    <div class="container" th:fragment="footer">
        <p class="pull-right text-muted">
            Version <span th:text="#{info.project.version}">Version from pom.xml</span> |
            Build <a href="https://github.com/avansinformatica/spring-mvc-library" target="_blank" th:text="#{git.commit.id.abbrev}">Git commit id</a> |
            <span th:text="#{git.commit.time}">Git commit date/time</span>
        </p>
        <p class="text-muted">
            <a href="http://www.avans.nl" target="_blank">Avans Hogeschool Breda</a> |
            <a href="http://www.spring.io" target="_blank">Spring Boot</a>
            <a href="https://nl.wikipedia.org/wiki/Model-view-controller-model" target="_blank">MVC</a> with
            <a href="http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html" target="_blank">Thymeleaf</a>
        </p>
    </div>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

</body>
</html>

