body {
    font-family: 'Raleway', Verdana, Geneva, sans-serif;
    padding-top: 10px;
    padding-bottom: 50px;
}

.social-links {
    max-width: 800px;
    margin: 0 auto;
    list-style: none;
}
.social-links > li {
    width: 30%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin: auto;
}

.searchform {
    margin-top: 10px;
    margin-bottom: 25px;
}

img.thumbnail {
    height: 230px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
}

div.thumbnail.frontpage {
    padding-top: 10px;
    position: relative;
}

div.thumbnail.frontpage p {
    margin-bottom: 2px;
}

div.thumbnail.frontpage h3 a:hover {
    text-decoration: none;
}

div.thumbnail.frontpage:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.caption.frontpage {
    height: 150px;
    display: block;
}

.glyphicon {
    margin-right: 20px;
}

