body {
    font-family: 'Raleway', Verdana, Geneva, sans-serif;
    padding-top: 10px;
    padding-bottom: 5px;
}

.social-links {
    max-width: 800px;
    margin: 0 auto;
    list-style: none;
}
.social-links > li {
    width: 30%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin: auto;
}

.searchform {
    margin-top: 10px;
    margin-bottom: 25px;
}

img.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}