<!DOCTYPE html>
<html layout:decorator="member/layout">
<body>
<th:block layout:fragment="alert">
    <div class="alert alert-dismissable" th:classappend="'alert-' + ${type}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4 th:text="${header}">Alert header</h4>
        <!--/* 'layout:fragment' attribute defines a replaceable summary section */-->
        <th:block layout:fragment="alert-summary">
            <p>Default alert summary</p>
        </th:block>
    </div>
</th:block>
</body>
</html>

