<!DOCTYPE html>
<!--<html layout:decorator="views/member/layout">-->
<html>
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/core.css" th:href="@{/css/core.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/sticky-footer-navbar.css" th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet" media="screen" />
</head>
<body>

    <!-- Header -->
    <div th:replace="fragments/header :: header"></div>

    <div class="container">

        <div class="page-header">
            <h1>Create Member</h1>
        </div>
        <p>Hier kunt je een nieuwe member toevoegen.</p>

        <!-- Form om een nieuwe member te maken. Het object 'member' is het object waarin de
            waarden uit het formulier worden ingevuld. Het is afkomstig uit de MemberController. -->
        <form action="#" th:action="@{/memberctrl}" th:object="${member}" method="post">

            <!--<ul th:if="${#fields.hasErrors('*')}" class="errorlist">-->
                <!--<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>-->
            <!--</ul>-->

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="firstname">Voornaam</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'member'-->
                        <input type="text" class="form-control" id="firstname" th:field="*{firstName}"/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="lastname">Achternaam</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'member'-->
                        <input type="text" class="form-control" id="lastname" th:field="*{lastName}"/>
                    </div>
                 </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="street">Straat</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'member'-->
                        <input type="text" class="form-control" id="street" th:field="*{street}"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="housenumber">Huisnummer</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'member'-->
                        <input type="text" class="form-control" id="housenumber" th:field="*{houseNumber}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="city">Stad</label>
                        <input type="text" class="form-control" id="city" th:field="*{city}"/>
                    </div>
                 </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" th:field="*{emailAddress}"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="phone">Telefoon</label>
                        <input type="text" class="form-control" id="phone" th:field="*{phoneNumber}"/>
                    </div>
                </div>
            </div>
            <!-- De button die voor verzenden van het formulier zorgt.
                De name 'save' is een parameter waarmee in de MemberController de juiste
                save-actie wordt gestart. -->
            <button type="submit" class="btn btn-default" name="save">Submit</button>

        </form>
    </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
    </footer>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:href="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>