<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

<!-- Header -->
    <div th:replace="fragments/header :: header"></div>

    <div class="container">

        <div class="page-header">
            <h1>Create Member</h1>
        </div>
        <p>Hier kunt je een nieuwe member toevoegen.</p>

        <!-- Form om een nieuwe repository te maken. Het object 'repository' is het object waarin de
            waarden uit het formulier worden ingevuld. Het is afkomstig uit de MemberController. -->
        <form id="createMemberForm" action="#" th:action="@{/member/create}" th:object="${member}" method="post">

            <!-- Het formulier wordt na verzenden gevalideerd in de MemberController.
                Als er fouten waren kun je hier een lijst met foutmeldingen tonen.
                Je kunt ook de melding bij het inputveld tonen (zie code hieronder) en evt. de CSS class
                van het inputveld veranderen. -->
            <!--<ul th:if="${#fields.hasErrors('*')}" class="errorlist">-->
                <!--<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>-->
            <!--</ul>-->

            <div th:if="${#fields.hasErrors('*')}">
                <div layout:include="views/member/alert :: alert" th:with="type='danger', header='Fouten in het formulier'" th:remove="tag">
                    <!--/* Implements alert summary fragment with full-blown HTML summary */-->
                    <th:block layout:fragment="alert-summary">
                        <p>Niet alle velden in het formulier zijn correct ingevuld. Corrigeer deze en verzend opnieuw.</p>
                        <!--<p><button type="button" class="btn btn-danger">Take this action</button></p>-->
                    </th:block>
                </div>
            </div>
            <div th:if="${exception}">
                <div layout:include="views/member/alert :: alert" th:with="type='danger', header='Fouten in het formulier'" th:remove="tag">
                    <!--/* Implements alert summary fragment with full-blown HTML summary */-->
                    <th:block layout:fragment="alert-summary">
                        <p th:text="${exception}">Exception message</p>
                    </th:block>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="firstname">Voornaam</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'repository'-->
                        <input type="text" class="form-control" id="firstname" th:field="*{firstName}"/>
                        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="lastname">Achternaam</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'repository'-->
                        <input type="text" class="form-control" id="lastname" th:field="*{lastName}"/>
                        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</p>
                    </div>
                 </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="street">Straat</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'repository'-->
                        <input type="text" class="form-control" id="street" th:field="*{street}"/>
                        <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="housenumber">Huisnummer</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'repository'-->
                        <input type="text" class="form-control" id="housenumber" th:field="*{houseNumber}"/>
                        <p th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}">Name Error</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="city">Stad</label>
                        <input type="text" class="form-control" id="city" th:field="*{city}"/>
                        <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Name Error</p>
                    </div>
                 </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" th:field="*{emailAddress}"/>
                        <p th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="phone">Telefoon</label>
                        <input type="text" class="form-control" id="phone" th:field="*{phoneNumber}"/>
                        <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</p>
                    </div>
                </div>
            </div>
            <!-- De button die voor verzenden van het formulier zorgt.
                De name 'save' is een parameter waarmee in de MemberController de juiste
                save-actie wordt gestart. -->
            <button type="submit" class="btn btn-primary" name="save">Submit</button>

        </form>
    </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
    </footer>

    <script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>