<!DOCTYPE html>
<!--<html layout:decorator="views/member/layout">-->
<html>
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/core.css" th:href="@{/css/core.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/sticky-footer-navbar.css" th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>
</head>
<body>

    <!-- Header -->
    <div th:replace="fragments/header :: header"></div>

    <!--/* Content of this page will be decorated by the elements of layout.html (student/layout) */-->
    <div class="container" layout:fragment="content">

        <!--/* Als er een nieuw member is toegevoegd tonen we een info bericht. */-->
        <div th:if="${info}" layout:include="views/member/alert :: alert" th:with="type='info', header='Info'" th:remove="tag">
            <!--/* Implements alert content fragment with simple content */-->
            <th:block layout:fragment="alert-content">
                <p th:text="${info}"><em>Info bericht</em></p>
            </th:block>
        </div>

        <div class="page-header">
            <h1>Overzicht van Members</h1>
        </div>
        <p>Deze pagina geeft een overzicht van de members in het systeem. Klik op een naam voor meer informatie.</p>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>MembershipNr</th>
                <th>Name</th>
                <th>Telefoon</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${members.empty}">
                <td colspan="4">No members</td>
            </tr>
            <tr th:each="member : ${members}">
                <td th:text="${member.memberID}">1</td>
                <td><a th:href="@{/member/{id}(id=${member.memberID})}" th:text="${member.firstName} + ' ' + ${member.lastName}">Naam ...</a></td>
                <td th:text="${member.phoneNumber}">telefoon ...</td>
                <td th:text="${member.emailAddress}">Email ...</td>
            </tr>
            </tbody>
        </table>
    </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
    </footer>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:href="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>