<!DOCTYPE html>
<!--<html layout:decorator="views/member/layout">-->
<html>
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/core.css" th:href="@{/css/core.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/sticky-footer-navbar.css" th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>
</head>
<body>

    <!-- Header -->
    <div th:replace="fragments/header :: header"></div>

    <!--/* Content of this page will be decorated by the elements of layout.html (student/layout) */-->
    <div class="container" layout:fragment="content">

        <div class="page-header">
            <h1>Informatie</h1>
        </div>
        <p>Deze pagina laat een member zien.</p>
            <!--<p th:if="${member.empty}"> No members found.</p>-->

        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2 th:text="${member.firstName} + ' ' + ${member.lastName}">Naam ...</h2>
                        <div class="row">
                            <div class="col-xs-3">Adres</div>
                            <div class="col-xs-9">
                                <p>
                                    <span th:text="${member.street} + ' ' + ${member.houseNumber}">Adres</span><br/>
                                    <span th:text="${member.city}">Street</span>
                                </p>
                            </div>
                            <div class="col-xs-3">Email</div>
                                <div class="col-xs-9"><p th:text="${member.emailAddress}">Email ...</p>
                            </div>
                            <div class="col-xs-3">Telefoon</div>
                                <div class="col-xs-9"><p th:text="${member.phoneNumber}">Tele ...</p>
                            </div>
                            <div class="col-xs-3">Boete</div>
                            <div class="col-xs-9">
                                <p th:text="${member.fine}">Email ...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Boeken in bezit</h2>

                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>ISBN</th>
                                <th>Titel</th>
                                <th>Auteur</th>
                                <th>Geleend op</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${loans.empty}">
                                <td colspan="4">Geen uitleningen gevonden.</td>
                            </tr>
                            <tr th:each="loan : ${loans}">
                                <td th:text="${loan.bookISBN}">ISBN</td>
                                <td th:text="${loan.bookTitle}">Titel</td>
                                <td th:text="${loan.bookAuthor}">Author</td>
                                <td th:text="${loan.loanDate}">Date</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Reserveringen</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <a href="/member" class="btn btn-primary btn-lg active pull-left" role="button">Terug naar het overzicht</a>
            </div>
            <div class="col-sm-6">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger btn-lg pull-right" data-toggle="modal" data-target="#myModal">
                    Verwijderen
                </button>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Member verwijderen</h4>
                    </div>
                    <div class="modal-body">
                        <p>Weet je zeker dat je deze member wilt verwijderen?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Nee, annuleer</button>

                        <!--
                            We willen hier een HTTP DELETE bericht sturen ... Nog uitzoeken hoe. JavaScript AJAX wsch.
                        -->
                        <button type="submit" class="btn btn-secondary" data-dismiss="modal">Ja, verwijder</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
    </footer>

    <script>
        function sendAjaxDeleteRequest(id) {
            $.ajax({
                url: '/member/id',
                type: 'DELETE',
                success: function(result) {
                    // Do something with the result
                }
            });
         }
    </script>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:href="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>